<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"section","style":{"spacing":{"padding":{"bottom":"15px","top":"15px","right":"15px","left":"15px"}}},"className":"blog-single-section section-padding mt-3","layout":{"inherit":false,"contentSize":"1170px"}} -->
<section class="wp-block-group blog-single-section section-padding mt-3" style="padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px"><!-- wp:group {"className":"container"} -->
<div class="wp-block-group container"><!-- wp:group {"className":"row"} -->
<div class="wp-block-group row"><!-- wp:group {"className":"col-12"} -->
<div class="wp-block-group col-12"><!-- wp:group {"className":"blog-content clearfix"} -->
<div class="wp-block-group blog-content clearfix"><!-- wp:group {"className":"post"} -->
<div class="wp-block-group post"><!-- wp:post-terms {"term":"category","style":{"typography":{"fontStyle":"normal","fontWeight":"700"}},"className":"text-center","fontSize":"small"} /-->

<!-- wp:post-title {"textAlign":"center","level":1,"style":{"spacing":{"margin":{"top":"1.5rem","bottom":"1.5rem"}}}} /-->

<!-- wp:post-date {"textAlign":"center"} /-->

<!-- wp:separator {"customColor":"#bf692d","align":"center","className":"my-4"} -->
<hr class="wp-block-separator aligncenter has-text-color has-background my-4" style="background-color:#bf692d;color:#bf692d"/>
<!-- /wp:separator -->

<!-- wp:post-content {"align":"full","className":"mt-5","layout":{"inherit":true}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"post-bottom-area"} -->
<div class="wp-block-group post-bottom-area"><!-- wp:separator {"customColor":"#bf692d","className":"my-4"} -->
<hr class="wp-block-separator has-text-color has-background my-4" style="background-color:#bf692d;color:#bf692d"/>
<!-- /wp:separator -->

<!-- wp:post-author {"showBio":true,"byline":"Written By","style":{"spacing":{"margin":{"top":"36px","right":"0px","bottom":"36px","left":"0px"},"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"}}},"className":"bg-light"} /-->

<!-- wp:heading {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"20px","left":"0px"}}}} -->
<h2 style="margin-top:0px;margin-right:0px;margin-bottom:20px;margin-left:0px">See also these posts...</h2>
<!-- /wp:heading -->

<!-- wp:separator {"customColor":"#bf692d","align":"center","className":"my-4 is-style-wide"} -->
<hr class="wp-block-separator aligncenter has-text-color has-background my-4 is-style-wide" style="background-color:#bf692d;color:#bf692d"/>
<!-- /wp:separator -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"100%"} -->
<div class="wp-block-column" style="flex-basis:100%"><!-- wp:query {"queryId":20,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":3},"layout":{"inherit":true}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-featured-image /-->

<!-- wp:post-date /-->

<!-- wp:post-title {"isLink":true,"fontSize":"medium"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:separator {"customColor":"#bf692d","align":"center","className":"my-4 is-style-wide"} -->
<hr class="wp-block-separator aligncenter has-text-color has-background my-4 is-style-wide" style="background-color:#bf692d;color:#bf692d"/>
<!-- /wp:separator -->

<!-- wp:post-comments {"className":"bg-light p-4 comment-area"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->