<!-- wp:group {"tagName":"header","style":{"spacing":{"padding":{"right":"0px","left":"0px","top":"20px","bottom":"20px"}}},"backgroundColor":"bglight","textColor":"text-regular","className":"border-bottom","layout":{"inherit":false}} -->
<header id="header"
        class="wp-block-group border-bottom has-text-regular-color has-bglight-background-color has-text-color has-background"
        style="padding-top:20px;padding-right:0px;padding-bottom:20px;padding-left:0px">
    <!-- wp:group {"className":"container"} -->
    <div class="wp-block-group container"><!-- wp:group {"className":"col-12"} -->
        <div class="wp-block-group col-12"><!-- wp:list {"className":"list-inline list"} -->
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item">About Us</li>
                <li class="list-inline-item">Contact</li>
            </ul>
            <!-- /wp:list -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"className":"row"} -->
        <div class="wp-block-group row"><!-- wp:group {"className":"col-10 col-sm-3 align-self-center mt-0"} -->
            <div class="wp-block-group col-10 col-sm-3 align-self-center mt-0">
                <!-- wp:site-title {"level":4,"textAlign":"left"} /--></div>
            <!-- /wp:group -->

            <!-- wp:group {"className":"col-2 col-sm-9 mt-0  align-self-center","layout":{"inherit":true}} -->
            <div class="wp-block-group col-2 col-sm-9 mt-0  align-self-center">
                <!-- wp:navigation {"ref":1506,"textColor":"foreground","layout":{"type":"flex","justifyContent":"right","flexWrap":"nowrap"},"style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"700"}}} /--></div>
            <!-- /wp:group --></div>
        <!-- /wp:group --></div>
    <!-- /wp:group --></header>
<!-- /wp:group -->
