<!-- wp:template-part {"slug":"header-with-cover-image"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px"}},"layout":{"inherit":false}} -->
<main id="main-box" class="wp-block-group"><!-- wp:group {"tagName":"section","lock":{"move":true,"remove":true},"style":{"spacing":{"padding":{"top":"30px","right":"0px","bottom":"30px","left":"0px"}}},"layout":{"inherit":true}} -->
<section id="section-icon-boxes" class="wp-block-group" style="padding-top:30px;padding-right:0px;padding-bottom:30px;padding-left:0px"><!-- wp:columns {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
<div class="wp-block-columns" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}},"border":{"width":"1px"}},"borderColor":"light-gray","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-light-gray-border-color" style="border-width:1px;padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:outermost/icon-block {"iconName":"","iconBackgroundColor":"secondary-light","iconBackgroundColorValue":"#778075","iconColor":"background","iconColorValue":"#ffffff","hasNoIconFill":false,"width":90,"style":{"border":{"radius":"90px"},"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"}}}} -->
<div class="wp-block-outermost-icon-block"><div class="icon-container has-icon-color has-icon-background-color has-secondary-light-background-color" style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;border-radius:90px;color:#ffffff;width:90px"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16"><path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"></path><path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"></path></svg></div></div>
<!-- /wp:outermost/icon-block -->

<!-- wp:heading {"textAlign":"center"} -->
<h2 class="has-text-align-center">Booking</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","textColor":"light-gray"} -->
<p class="has-text-align-center has-light-gray-color has-text-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}},"border":{"width":"1px"}},"borderColor":"light-gray","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-light-gray-border-color" style="border-width:1px;padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:outermost/icon-block {"iconName":"wordpress-verse","iconBackgroundColor":"secondary-light","iconBackgroundColorValue":"#778075","iconColor":"background","iconColorValue":"#ffffff","width":90,"style":{"border":{"radius":"90px"},"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"}}}} -->
<div class="wp-block-outermost-icon-block"><div class="icon-container has-icon-color has-icon-background-color has-secondary-light-background-color" style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;border-radius:90px;color:#ffffff;width:90px"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M17.8 2l-.9.3c-.1 0-3.6 1-5.2 2.1C10 5.5 9.3 6.5 8.9 7.1c-.6.9-1.7 4.7-1.7 6.3l-.9 2.3c-.2.4 0 .8.4 1 .1 0 .2.1.3.1.3 0 .6-.2.7-.5l.6-1.5c.3 0 .7-.1 1.2-.2.7-.1 1.4-.3 2.2-.5.8-.2 1.6-.5 2.4-.8.7-.3 1.4-.7 1.9-1.2s.8-1.2 1-1.9c.2-.7.3-1.6.4-2.4.1-.8.1-1.7.2-2.5 0-.8.1-1.5.2-2.1V2zm-1.9 5.6c-.1.8-.2 1.5-.3 2.1-.2.6-.4 1-.6 1.3-.3.3-.8.6-1.4.9-.7.3-1.4.5-2.2.8-.6.2-1.3.3-1.8.4L15 7.5c.3-.3.6-.7 1-1.1 0 .4 0 .8-.1 1.2zM6 20h8v-1.5H6V20z"></path></svg></div></div>
<!-- /wp:outermost/icon-block -->

<!-- wp:heading {"textAlign":"center"} -->
<h2 class="has-text-align-center">Eating</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","textColor":"light-gray"} -->
<p class="has-text-align-center has-light-gray-color has-text-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}},"border":{"width":"1px"}},"borderColor":"light-gray","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-light-gray-border-color" style="border-width:1px;padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:outermost/icon-block {"iconName":"wordpress-capturePhoto","iconBackgroundColor":"secondary-light","iconBackgroundColorValue":"#778075","iconColor":"background","iconColorValue":"#ffffff","width":90,"style":{"border":{"radius":"90px"},"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"}}}} -->
<div class="wp-block-outermost-icon-block"><div class="icon-container has-icon-color has-icon-background-color has-secondary-light-background-color" style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;border-radius:90px;color:#ffffff;width:90px"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M12 9.2c-2.2 0-3.9 1.8-3.9 4s1.8 4 3.9 4 4-1.8 4-4-1.8-4-4-4zm0 6.5c-1.4 0-2.4-1.1-2.4-2.5s1.1-2.5 2.4-2.5 2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5zM20.2 8c-.1 0-.3 0-.5-.1l-2.5-.8c-.4-.1-.8-.4-1.1-.8l-1-1.5c-.4-.5-1-.9-1.7-.9h-2.9c-.6.1-1.2.4-1.6 1l-1 1.5c-.3.3-.6.6-1.1.7l-2.5.8c-.2.1-.4.1-.6.1-1 .2-1.7.9-1.7 1.9v8.3c0 1 .9 1.9 2 1.9h16c1.1 0 2-.8 2-1.9V9.9c0-1-.7-1.7-1.8-1.9zm.3 10.1c0 .2-.2.4-.5.4H4c-.3 0-.5-.2-.5-.4V9.9c0-.1.2-.3.5-.4.2 0 .5-.1.8-.2l2.5-.8c.7-.2 1.4-.6 1.8-1.3l1-1.5c.1-.1.2-.2.4-.2h2.9c.2 0 .3.1.4.2l1 1.5c.4.7 1.1 1.1 1.9 1.4l2.5.8c.3.1.6.1.8.2.3 0 .4.2.4.4v8.1z"></path></svg></div></div>
<!-- /wp:outermost/icon-block -->

<!-- wp:heading {"textAlign":"center"} -->
<h2 class="has-text-align-center">Photo</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","textColor":"light-gray"} -->
<p class="has-text-align-center has-light-gray-color has-text-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}},"border":{"width":"1px"}},"borderColor":"light-gray","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-light-gray-border-color" style="border-width:1px;padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:outermost/icon-block {"iconName":"","iconBackgroundColor":"secondary-light","iconBackgroundColorValue":"#778075","iconColor":"background","iconColorValue":"#ffffff","hasNoIconFill":false,"width":90,"style":{"border":{"radius":"90px"},"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"}}}} -->
<div class="wp-block-outermost-icon-block"><div class="icon-container has-icon-color has-icon-background-color has-secondary-light-background-color" style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;border-radius:90px;color:#ffffff;width:90px"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck-front-fill" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M3.5 0A2.5 2.5 0 0 0 1 2.5v9c0 .818.393 1.544 1 2v2a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5V14h6v1.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-2c.607-.456 1-1.182 1-2v-9A2.5 2.5 0 0 0 12.5 0h-9ZM3 3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v3.9c0 .625-.562 1.092-1.17.994C10.925 7.747 9.208 7.5 8 7.5c-1.208 0-2.925.247-3.83.394A1.008 1.008 0 0 1 3 6.9V3Zm1 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm8 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm-5-2a1 1 0 1 0 0 2h2a1 1 0 1 0 0-2H7Z"></path></svg></div></div>
<!-- /wp:outermost/icon-block -->

<!-- wp:heading {"textAlign":"center"} -->
<h2 class="has-text-align-center">Travel</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","textColor":"light-gray"} -->
<p class="has-text-align-center has-light-gray-color has-text-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","lock":{"move":true,"remove":true},"style":{"spacing":{"padding":{"top":"30px","right":"0px","bottom":"30px","left":"0px"}}},"layout":{"inherit":true}} -->
<section id="section-destinations" class="wp-block-group" style="padding-top:30px;padding-right:0px;padding-bottom:30px;padding-left:0px"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","flexWrap":"wrap"}} -->
<div class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="has-text-align-center">Destinations to Inspire Adventure</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","textColor":"light-gray"} -->
<p class="has-text-align-center has-light-gray-color has-text-color">​Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"border":{"width":"1px"},"spacing":{"padding":{"top":"0px","right":"0px","bottom":"25px","left":"0px"}}},"borderColor":"light-green","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-light-green-border-color" style="border-width:1px;padding-top:0px;padding-right:0px;padding-bottom:25px;padding-left:0px"><!-- wp:image {"id":1975,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/xidea/wp-content/uploads/2022/07/kal-visuals-1YET7ksfk9c22-unsplash.jpg" alt="" class="wp-image-1975"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2><strong>Paris</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"textColor":"secondary-light"} -->
<p class="has-secondary-light-color has-text-color"><a href="#">MORE</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"border":{"width":"1px"},"spacing":{"padding":{"top":"0px","right":"0px","bottom":"25px","left":"0px"}}},"borderColor":"light-green","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-light-green-border-color" style="border-width:1px;padding-top:0px;padding-right:0px;padding-bottom:25px;padding-left:0px"><!-- wp:image {"id":1975,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/xidea/wp-content/uploads/2022/07/kal-visuals-1YET7ksfk9c22-unsplash.jpg" alt="" class="wp-image-1975"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2><strong>Paris</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"textColor":"secondary-light"} -->
<p class="has-secondary-light-color has-text-color"><a href="#">MORE</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"border":{"width":"1px"},"spacing":{"padding":{"top":"0px","right":"0px","bottom":"25px","left":"0px"}}},"borderColor":"light-green","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-light-green-border-color" style="border-width:1px;padding-top:0px;padding-right:0px;padding-bottom:25px;padding-left:0px"><!-- wp:image {"id":1975,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/xidea/wp-content/uploads/2022/07/kal-visuals-1YET7ksfk9c22-unsplash.jpg" alt="" class="wp-image-1975"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2><strong>Paris</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"textColor":"secondary-light"} -->
<p class="has-secondary-light-color has-text-color"><a href="#">MORE</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"border":{"width":"1px"},"spacing":{"padding":{"top":"0px","right":"0px","bottom":"25px","left":"0px"}}},"borderColor":"light-green","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-light-green-border-color" style="border-width:1px;padding-top:0px;padding-right:0px;padding-bottom:25px;padding-left:0px"><!-- wp:image {"id":1975,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/xidea/wp-content/uploads/2022/07/kal-visuals-1YET7ksfk9c22-unsplash.jpg" alt="" class="wp-image-1975"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2><strong>Paris</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"textColor":"secondary-light"} -->
<p class="has-secondary-light-color has-text-color"><a href="#">MORE</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"border":{"width":"1px"},"spacing":{"padding":{"top":"0px","right":"0px","bottom":"25px","left":"0px"}}},"borderColor":"light-green","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-light-green-border-color" style="border-width:1px;padding-top:0px;padding-right:0px;padding-bottom:25px;padding-left:0px"><!-- wp:image {"id":1975,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/xidea/wp-content/uploads/2022/07/kal-visuals-1YET7ksfk9c22-unsplash.jpg" alt="" class="wp-image-1975"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2><strong>Paris</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"textColor":"secondary-light"} -->
<p class="has-secondary-light-color has-text-color"><a href="#">MORE</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"border":{"width":"1px"},"spacing":{"padding":{"top":"0px","right":"0px","bottom":"25px","left":"0px"}}},"borderColor":"light-green","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-light-green-border-color" style="border-width:1px;padding-top:0px;padding-right:0px;padding-bottom:25px;padding-left:0px"><!-- wp:image {"id":1975,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/xidea/wp-content/uploads/2022/07/kal-visuals-1YET7ksfk9c22-unsplash.jpg" alt="" class="wp-image-1975"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2><strong>Paris</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"textColor":"secondary-light"} -->
<p class="has-secondary-light-color has-text-color"><a href="#">MORE</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"border":{"width":"1px"},"spacing":{"padding":{"top":"0px","right":"0px","bottom":"25px","left":"0px"}}},"borderColor":"light-green","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-light-green-border-color" style="border-width:1px;padding-top:0px;padding-right:0px;padding-bottom:25px;padding-left:0px"><!-- wp:image {"id":1975,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/xidea/wp-content/uploads/2022/07/kal-visuals-1YET7ksfk9c22-unsplash.jpg" alt="" class="wp-image-1975"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2><strong>Paris</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"textColor":"secondary-light"} -->
<p class="has-secondary-light-color has-text-color"><a href="#">MORE</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"border":{"width":"1px"},"spacing":{"padding":{"top":"0px","right":"0px","bottom":"25px","left":"0px"}}},"borderColor":"light-green","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-light-green-border-color" style="border-width:1px;padding-top:0px;padding-right:0px;padding-bottom:25px;padding-left:0px"><!-- wp:image {"id":1975,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/xidea/wp-content/uploads/2022/07/kal-visuals-1YET7ksfk9c22-unsplash.jpg" alt="" class="wp-image-1975"/></figure>
<!-- /wp:image -->

<!-- wp:heading -->
<h2><strong>Paris</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"textColor":"secondary-light"} -->
<p class="has-secondary-light-color has-text-color"><a href="#">MORE</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","lock":{"move":true,"remove":true},"style":{"spacing":{"padding":{"top":"30px","right":"0px","bottom":"30px","left":"0px"}}},"gradient":"vertical-light-gray-to-light-green-to-top"} -->
<section id="section-featured" class="wp-block-group has-vertical-light-gray-to-light-green-to-top-gradient-background has-background" style="padding-top:30px;padding-right:0px;padding-bottom:30px;padding-left:0px"><!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"40%"} -->
<div class="wp-block-column" style="flex-basis:40%"><!-- wp:group {"style":{"spacing":{"padding":{"top":"50px","right":"25px","bottom":"50px","left":"25px"}},"border":{"width":"1px"}},"borderColor":"light-gray","backgroundColor":"light-green","layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group has-border-color has-light-gray-border-color has-light-green-background-color has-background" style="border-width:1px;padding-top:50px;padding-right:25px;padding-bottom:50px;padding-left:25px"><!-- wp:heading {"level":1} -->
<h1>Travel can improve your personality and other some text goes here…</h1>
<!-- /wp:heading -->

<!-- wp:image {"id":1977,"sizeSlug":"full","linkDestination":"none"} -->
<figure class="wp-block-image size-full"><img src="http://localhost/xidea/wp-content/uploads/2022/07/kal-visuals-1YET7ksfk9c-223unsplash.jpg" alt="" class="wp-image-1977"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"60%"} -->
<div class="wp-block-column" style="flex-basis:60%"></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","lock":{"move":false,"remove":false},"style":{"spacing":{"padding":{"top":"30px","right":"0px","bottom":"30px","left":"0px"}}},"layout":{"inherit":true}} -->
<section id="section-destinations" class="wp-block-group" style="padding-top:30px;padding-right:0px;padding-bottom:30px;padding-left:0px"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center","flexWrap":"wrap"}} -->
<div class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="has-text-align-center">Destinations to Inspire Adventure</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","textColor":"light-gray"} -->
<p class="has-text-align-center has-light-gray-color has-text-color">​Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"border":{"width":"2px"},"spacing":{"padding":{"top":"25px","right":"25px","bottom":"25px","left":"25px"}}},"borderColor":"foreground","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-foreground-border-color" style="border-width:2px;padding-top:25px;padding-right:25px;padding-bottom:25px;padding-left:25px"><!-- wp:image {"id":1991,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="http://localhost/xidea/wp-content/uploads/2022/07/blog-2-1024x684.jpg" alt="" class="wp-image-1991"/></figure>
<!-- /wp:image -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"10px","right":"10px","bottom":"10px","left":"10px"}}},"backgroundColor":"secondary"} -->
<div class="wp-block-group has-secondary-background-color has-background" style="padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px"><!-- wp:heading {"level":4,"style":{"spacing":{"margin":{"top":"0px"}}},"textColor":"background"} -->
<h4 class="has-background-color has-text-color" style="margin-top:0px"><strong>Patagonia Tour</strong></h4>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">​Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"border":{"width":"2px"},"spacing":{"padding":{"top":"25px","right":"25px","bottom":"25px","left":"25px"}}},"borderColor":"foreground","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-foreground-border-color" style="border-width:2px;padding-top:25px;padding-right:25px;padding-bottom:25px;padding-left:25px"><!-- wp:image {"id":1991,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="http://localhost/xidea/wp-content/uploads/2022/07/blog-2-1024x684.jpg" alt="" class="wp-image-1991"/></figure>
<!-- /wp:image -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"10px","right":"10px","bottom":"10px","left":"10px"}}},"backgroundColor":"secondary"} -->
<div class="wp-block-group has-secondary-background-color has-background" style="padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px"><!-- wp:heading {"level":4,"style":{"spacing":{"margin":{"top":"0px"}}},"textColor":"background"} -->
<h4 class="has-background-color has-text-color" style="margin-top:0px"><strong>Patagonia Tour</strong></h4>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">​Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"border":{"width":"2px"},"spacing":{"padding":{"top":"25px","right":"25px","bottom":"25px","left":"25px"}}},"borderColor":"foreground","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-foreground-border-color" style="border-width:2px;padding-top:25px;padding-right:25px;padding-bottom:25px;padding-left:25px"><!-- wp:image {"id":1991,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="http://localhost/xidea/wp-content/uploads/2022/07/blog-2-1024x684.jpg" alt="" class="wp-image-1991"/></figure>
<!-- /wp:image -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"10px","right":"10px","bottom":"10px","left":"10px"}}},"backgroundColor":"secondary"} -->
<div class="wp-block-group has-secondary-background-color has-background" style="padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px"><!-- wp:heading {"level":4,"style":{"spacing":{"margin":{"top":"0px"}}},"textColor":"background"} -->
<h4 class="has-background-color has-text-color" style="margin-top:0px"><strong>Patagonia Tour</strong></h4>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">​Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"border":{"width":"2px"},"spacing":{"padding":{"top":"25px","right":"25px","bottom":"25px","left":"25px"}}},"borderColor":"foreground","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-foreground-border-color" style="border-width:2px;padding-top:25px;padding-right:25px;padding-bottom:25px;padding-left:25px"><!-- wp:image {"id":1991,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="http://localhost/xidea/wp-content/uploads/2022/07/blog-2-1024x684.jpg" alt="" class="wp-image-1991"/></figure>
<!-- /wp:image -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"10px","right":"10px","bottom":"10px","left":"10px"}}},"backgroundColor":"secondary"} -->
<div class="wp-block-group has-secondary-background-color has-background" style="padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px"><!-- wp:heading {"level":4,"style":{"spacing":{"margin":{"top":"0px"}}},"textColor":"background"} -->
<h4 class="has-background-color has-text-color" style="margin-top:0px"><strong>Patagonia Tour</strong></h4>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">​Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"border":{"width":"2px"},"spacing":{"padding":{"top":"25px","right":"25px","bottom":"25px","left":"25px"}}},"borderColor":"foreground","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-foreground-border-color" style="border-width:2px;padding-top:25px;padding-right:25px;padding-bottom:25px;padding-left:25px"><!-- wp:image {"id":1991,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="http://localhost/xidea/wp-content/uploads/2022/07/blog-2-1024x684.jpg" alt="" class="wp-image-1991"/></figure>
<!-- /wp:image -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"10px","right":"10px","bottom":"10px","left":"10px"}}},"backgroundColor":"secondary"} -->
<div class="wp-block-group has-secondary-background-color has-background" style="padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px"><!-- wp:heading {"level":4,"style":{"spacing":{"margin":{"top":"0px"}}},"textColor":"background"} -->
<h4 class="has-background-color has-text-color" style="margin-top:0px"><strong>Patagonia Tour</strong></h4>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">​Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"style":{"spacing":{"padding":{"top":"0px","right":"5px","bottom":"0px","left":"5px"}}}} -->
<div class="wp-block-column" style="padding-top:0px;padding-right:5px;padding-bottom:0px;padding-left:5px"><!-- wp:group {"style":{"border":{"width":"2px"},"spacing":{"padding":{"top":"25px","right":"25px","bottom":"25px","left":"25px"}}},"borderColor":"foreground","layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group has-border-color has-foreground-border-color" style="border-width:2px;padding-top:25px;padding-right:25px;padding-bottom:25px;padding-left:25px"><!-- wp:image {"id":1991,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="http://localhost/xidea/wp-content/uploads/2022/07/blog-2-1024x684.jpg" alt="" class="wp-image-1991"/></figure>
<!-- /wp:image -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"10px","right":"10px","bottom":"10px","left":"10px"}}},"backgroundColor":"secondary"} -->
<div class="wp-block-group has-secondary-background-color has-background" style="padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px"><!-- wp:heading {"level":4,"style":{"spacing":{"margin":{"top":"0px"}}},"textColor":"background"} -->
<h4 class="has-background-color has-text-color" style="margin-top:0px"><strong>Patagonia Tour</strong></h4>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">​Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","style":{"spacing":{"padding":{"top":"30px","right":"0px","bottom":"30px","left":"0px"}}},"backgroundColor":"secondary"} -->
<section id="section-call-to-action" class="wp-block-group has-secondary-background-color has-background" style="padding-top:30px;padding-right:0px;padding-bottom:30px;padding-left:0px"><!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3,"textColor":"background"} -->
<h3 class="has-background-color has-text-color">Call To Action!</h3>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"25px","bottom":"0px","left":"25px"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group" style="padding-top:0px;padding-right:25px;padding-bottom:0px;padding-left:25px"><!-- wp:paragraph {"textColor":"background"} -->
<p class="has-background-color has-text-color">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"secondary-light","textColor":"background","style":{"border":{"radius":"0px"}}} -->
<div class="wp-block-button"><a class="wp-block-button__link has-background-color has-secondary-light-background-color has-text-color has-background" style="border-radius:0px">Get More Info...</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></section>
<!-- /wp:group --></main>
<!-- /wp:group -->