<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"societas/section-hero"} /-->

<!-- wp:pattern {"slug":"societas/section-icon-boxes"} /-->

<!-- wp:pattern {"slug":"societas/section-services"} /-->

<!-- wp:pattern {"slug":"societas/section-why-us"} /-->

<!-- wp:pattern {"slug":"societas/section-team"} /-->

<!-- wp:pattern {"slug":"societas/section-call-to-action"} /-->

<!-- wp:pattern {"slug":"societas/section-icon-cards"} /-->

<!-- wp:pattern {"slug":"societas/section-testimonial"} /-->

<!-- wp:pattern {"slug":"societas/section-faq"} /-->

<!-- wp:pattern {"slug":"societas/section-latest-posts"} /-->

<!-- wp:pattern {"slug":"societas/section-map"} /-->

<!-- wp:template-part {"slug":"footer","className":"section-no-block-space"} /-->