<!-- wp:template-part {"slug":"header-dark","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main id="main-container" class="wp-block-group"><!-- wp:group {"className":"container","layout":{"inherit":true}} -->
<div id="page-container" class="wp-block-group container"><!-- wp:post-title {"textAlign":"center","level":1} /-->

<!-- wp:separator {"color":"primary"} -->
<hr class="wp-block-separator has-text-color has-background has-primary-background-color has-primary-color"/>
<!-- /wp:separator -->

<!-- wp:kadence/rowlayout {"uniqueID":"_b40b35-65","columns":1,"colLayout":"equal","topPadding":0,"bottomPadding":80,"inheritMaxWidth":true,"kadenceBlockCSS":"selector .absolute {\n  position: absolute;\n  right: -100px;\n  bottom: -70px;\n}\nselector .kt-inside-inner-col {\n  position: relative;\n}"} -->
<div class="wp-block-kadence-rowlayout alignnone"><div id="kt-layout-id_b40b35-65" class="kt-row-layout-inner kt-layout-id_b40b35-65"><div class="kt-row-column-wrap kt-has-1-columns kt-gutter-default kt-v-gutter-default kt-row-valign-top kt-row-layout-equal kt-tab-layout-inherit kt-m-colapse-left-to-right kt-mobile-layout-row kb-theme-content-width"><!-- wp:kadence/column {"uniqueID":"_f9bbab-ce"} -->
<div class="wp-block-kadence-column inner-column-1 kadence-column_f9bbab-ce"><div class="kt-inside-inner-col"><!-- wp:kadence/rowlayout {"uniqueID":"_0ff8e4-1e","columns":1,"colLayout":"equal","maxWidth":700,"topPadding":0} -->
<div class="wp-block-kadence-rowlayout alignnone"><div id="kt-layout-id_0ff8e4-1e" class="kt-row-layout-inner kt-layout-id_0ff8e4-1e"><div class="kt-row-column-wrap kt-has-1-columns kt-gutter-default kt-v-gutter-default kt-row-valign-top kt-row-layout-equal kt-tab-layout-inherit kt-m-colapse-left-to-right kt-mobile-layout-row"><!-- wp:kadence/column {"uniqueID":"_acd6d5-92"} -->
<div class="wp-block-kadence-column inner-column-1 kadence-column_acd6d5-92"><div class="kt-inside-inner-col"><!-- wp:kadence/advancedheading {"uniqueID":"_8113d7-0b","align":"center","color":"#044761","mobileSize":32,"colorClass":"blue"} -->
<h2 class="kt-adv-heading_8113d7-0b wp-block-kadence-advancedheading has-blue-color has-text-color" data-kb-block="kb-adv-heading_8113d7-0b">100% Customer Satisfaction</h2>
<!-- /wp:kadence/advancedheading --></div></div>
<!-- /wp:kadence/column --></div></div></div>
<!-- /wp:kadence/rowlayout -->

<!-- wp:kadence/rowlayout {"uniqueID":"_e60503-a5","columns":3,"tabletLayout":"first-row","colLayout":"equal","columnsInnerHeight":true} -->
<div class="wp-block-kadence-rowlayout alignnone"><div id="kt-layout-id_e60503-a5" class="kt-row-layout-inner kt-layout-id_e60503-a5"><div class="kt-row-column-wrap kt-has-3-columns kt-gutter-default kt-v-gutter-default kt-row-valign-top kt-row-layout-equal kt-tab-layout-first-row kt-m-colapse-left-to-right kt-mobile-layout-row kt-inner-column-height-full"><!-- wp:kadence/column {"uniqueID":"_364d5b-c2"} -->
<div class="wp-block-kadence-column inner-column-1 kadence-column_364d5b-c2"><div class="kt-inside-inner-col"><!-- wp:kadence/advancedheading {"uniqueID":"_7e3e6e-3f","htmlTag":"p"} -->
<p class="kt-adv-heading_7e3e6e-3f wp-block-kadence-advancedheading" data-kb-block="kb-adv-heading_7e3e6e-3f"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</strong>&nbsp;sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim tortor at auctor urna nunc. Turpis in eu mi bibendum. Feugiat vivamus at augue eget arcu dictum varius duis at. Id aliquet lectus&nbsp;<em><strong><a href="https://kadence.pixel-show.com/writing-course/#">proin nibh nisl</a></strong></em>.</p>
<!-- /wp:kadence/advancedheading -->

<!-- wp:kadence/advancedheading {"uniqueID":"_7a4143-53","htmlTag":"p"} -->
<p class="kt-adv-heading_7a4143-53 wp-block-kadence-advancedheading" data-kb-block="kb-adv-heading_7a4143-53">Egestas integer eget aliquet nibh praesent tristique. Aliquet sagittis id consectetur purus ut faucibus.&nbsp;<strong>Interdum varius sit amet mattis.</strong>&nbsp;Id leo in vitae turpis. Consectetur libero id faucibus nisl tincidunt eget nullam non nisi. Rhoncus aenean vel elit scelerisque. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper.</p>
<!-- /wp:kadence/advancedheading --></div></div>
<!-- /wp:kadence/column -->

<!-- wp:kadence/column {"id":2,"topPadding":450,"bottomPadding":0,"uniqueID":"_aa9804-13","backgroundImg":[{"bgImg":"https://societas.xideathemes.com/wp-content/uploads/2022/05/about_us_page_image.jpg","bgImgID":1932,"bgImgSize":"cover","bgImgPosition":"center center","bgImgAttachment":"scroll","bgImgRepeat":"no-repeat"}]} -->
<div class="wp-block-kadence-column inner-column-2 kadence-column_aa9804-13"><div class="kt-inside-inner-col"></div></div>
<!-- /wp:kadence/column -->

<!-- wp:kadence/column {"id":3,"uniqueID":"_0a8f3d-e5"} -->
<div class="wp-block-kadence-column inner-column-3 kadence-column_0a8f3d-e5"><div class="kt-inside-inner-col"><!-- wp:kadence/advancedheading {"uniqueID":"_2fcf2a-62","htmlTag":"p"} -->
<p class="kt-adv-heading_2fcf2a-62 wp-block-kadence-advancedheading" data-kb-block="kb-adv-heading_2fcf2a-62">Vitae turpis massa sed elementum tempus egestas.&nbsp;<em><a href="https://kadence.pixel-show.com/writing-course/#"><strong>Nulla at volutpat diam ut venenatis tellus in metus</strong></a></em>&nbsp;vulputate. Duis ut diam quam nulla porttitor massa. Mauris a diam maecenas sed enim ut sem viverra. Lacus vestibulum sed arcu non odio euismod lacinia at.</p>
<!-- /wp:kadence/advancedheading -->

<!-- wp:kadence/advancedheading {"uniqueID":"_8e1646-a1","htmlTag":"p"} -->
<p class="kt-adv-heading_8e1646-a1 wp-block-kadence-advancedheading" data-kb-block="kb-adv-heading_8e1646-a1">Rhoncus aenean vel elit scelerisque. Platea dictumst vestibulum rhoncus&nbsp;<strong>est pellentesque elit ullamcorper dignissim</strong>. Sapien eget mi proin sed libero enim sed. Facilisis gravida neque convallis a.</p>
<!-- /wp:kadence/advancedheading --></div></div>
<!-- /wp:kadence/column --></div></div></div>
<!-- /wp:kadence/rowlayout --></div></div>
<!-- /wp:kadence/column --></div></div></div>
<!-- /wp:kadence/rowlayout -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"className":"container-fluid section-no-block-space"} -->
<div class="wp-block-group container-fluid section-no-block-space" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:cover {"url":"https://societas.xideathemes.com/wp-content/uploads/2022/05/counter.jpg,"id":2279,"dimRatio":90,"minHeight":200} -->
<div class="wp-block-cover" style="min-height:200px"><span aria-hidden="true" class="has-background-dim-90 wp-block-cover__gradient-background has-background-dim"></span><img class="wp-block-cover__image-background wp-image-2279" alt="" src="https://societas.xideathemes.com/wp-content/uploads/2022/05/counter.jpg" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:columns {"verticalAlignment":"center","style":{"spacing":{"padding":{"top":"30px","right":"0px","bottom":"0px","left":"0px"}}}} -->
<div class="wp-block-columns are-vertically-aligned-center" style="padding-top:30px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:kadence/icon {"icons":[{"icon":"fe_users","link":"","target":"_self","size":50,"width":2,"title":"","color":"#e74c3c","background":"transparent","border":"#444444","borderRadius":0,"borderWidth":2,"padding":20,"style":"default","marginTop":0,"marginRight":0,"marginBottom":0,"marginLeft":0,"hColor":"","hBackground":"","hBorder":"","linkTitle":""}],"uniqueID":"_6d2ef2-c2"} -->
<div class="wp-block-kadence-icon kt-svg-icons kt-svg-icons_6d2ef2-c2 alignnone" style="text-align:center"><div class="kt-svg-style-default kt-svg-icon-wrap kt-svg-item-0"><div style="display:inline-flex;justify-content:center;align-items:center;color:#e74c3c" class="kt-svg-icon kt-svg-icon-fe_users"><svg style="display:inline-block;vertical-align:middle" viewbox="0 0 24 24" height="50" width="50" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg></div></div></div>
<!-- /wp:kadence/icon -->

<!-- wp:kadence/countup {"uniqueID":"_0e9409-2f","title":"Happy Customers","titleFont":[{"level":2,"htmlTag":"p","size":["","",""],"sizeType":"px","lineHeight":["","",""],"lineType":"px","letterSpacing":"","textTransform":"","family":"","google":false,"style":"","weight":"","variant":"","subset":"","loadGoogle":true}],"titlePadding":["","","",""],"titleMargin":["","","",""],"titleAlign":["center","",""],"numberFont":[{"size":["50","",""],"sizeType":"px","lineHeight":["","",""],"lineType":"px","letterSpacing":"","textTransform":"","family":"","google":false,"style":"","weight":"","variant":"","subset":"","loadGoogle":true}],"numberAlign":["center","",""],"start":1000,"end":1100,"duration":1.5} -->
<div class="wp-block-kadence-countup kb-count-up-_0e9409-2f kb-count-up" data-start="1000" data-end="1100" data-prefix="" data-suffix="" data-duration="1.5" data-separator=""><div class="kb-count-up-process kb-count-up-number"></div><p class="kb-count-up-title">Happy Customers</p></div>
<!-- /wp:kadence/countup --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:kadence/icon {"icons":[{"icon":"fe_codepen","link":"","target":"_self","size":50,"width":2,"title":"","color":"#e74c3c","background":"transparent","border":"#444444","borderRadius":0,"borderWidth":2,"padding":20,"style":"default","marginTop":0,"marginRight":0,"marginBottom":0,"marginLeft":0,"hColor":"","hBackground":"","hBorder":"","linkTitle":""}],"uniqueID":"_9c9eb1-cb"} -->
<div class="wp-block-kadence-icon kt-svg-icons kt-svg-icons_9c9eb1-cb alignnone" style="text-align:center"><div class="kt-svg-style-default kt-svg-icon-wrap kt-svg-item-0"><div style="display:inline-flex;justify-content:center;align-items:center;color:#e74c3c" class="kt-svg-icon kt-svg-icon-fe_codepen"><svg style="display:inline-block;vertical-align:middle" viewbox="0 0 24 24" height="50" width="50" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polygon points="12 2 22 8.5 22 15.5 12 22 2 15.5 2 8.5 12 2"></polygon><line x1="12" y1="22" x2="12" y2="15.5"></line><polyline points="22 8.5 12 15.5 2 8.5"></polyline><polyline points="2 15.5 12 8.5 22 15.5"></polyline><line x1="12" y1="2" x2="12" y2="8.5"></line></svg></div></div></div>
<!-- /wp:kadence/icon -->

<!-- wp:kadence/countup {"uniqueID":"_e3eced-4e","title":"Projects","titleFont":[{"level":2,"htmlTag":"p","size":["","",""],"sizeType":"px","lineHeight":["","",""],"lineType":"px","letterSpacing":"","textTransform":"","family":"","google":false,"style":"","weight":"","variant":"","subset":"","loadGoogle":true}],"titleAlign":["center","",""],"numberFont":[{"size":["50","",""],"sizeType":"px","lineHeight":["","",""],"lineType":"px","letterSpacing":"","textTransform":"","family":"","google":false,"style":"","weight":"","variant":"","subset":"","loadGoogle":true}],"numberAlign":["center","",""],"start":21,"end":48,"duration":1.5} -->
<div class="wp-block-kadence-countup kb-count-up-_e3eced-4e kb-count-up" data-start="21" data-end="48" data-prefix="" data-suffix="" data-duration="1.5" data-separator=""><div class="kb-count-up-process kb-count-up-number"></div><p class="kb-count-up-title">Projects</p></div>
<!-- /wp:kadence/countup --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:kadence/icon {"icons":[{"icon":"fe_checkSquare","link":"","target":"_self","size":50,"width":2,"title":"","color":"#e74c3c","background":"transparent","border":"#444444","borderRadius":0,"borderWidth":2,"padding":20,"style":"default","marginTop":0,"marginRight":0,"marginBottom":0,"marginLeft":0,"hColor":"","hBackground":"","hBorder":"","linkTitle":""}],"uniqueID":"_96d0eb-f8"} -->
<div class="wp-block-kadence-icon kt-svg-icons kt-svg-icons_96d0eb-f8 alignnone" style="text-align:center"><div class="kt-svg-style-default kt-svg-icon-wrap kt-svg-item-0"><div style="display:inline-flex;justify-content:center;align-items:center;color:#e74c3c" class="kt-svg-icon kt-svg-icon-fe_checkSquare"><svg style="display:inline-block;vertical-align:middle" viewbox="0 0 24 24" height="50" width="50" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg></div></div></div>
<!-- /wp:kadence/icon -->

<!-- wp:kadence/countup {"uniqueID":"_7c1c61-62","title":"Success","titleFont":[{"level":2,"htmlTag":"p","size":["","",""],"sizeType":"px","lineHeight":["","",""],"lineType":"px","letterSpacing":"","textTransform":"","family":"","google":false,"style":"","weight":"","variant":"","subset":"","loadGoogle":true}],"titleAlign":["center","",""],"numberFont":[{"size":["50","",""],"sizeType":"px","lineHeight":["","",""],"lineType":"px","letterSpacing":"","textTransform":"","family":"","google":false,"style":"","weight":"","variant":"","subset":"","loadGoogle":true}],"numberAlign":["center","",""],"start":75,"suffix":"%","duration":1.5} -->
<div class="wp-block-kadence-countup kb-count-up-_7c1c61-62 kb-count-up" data-start="75" data-end="100" data-prefix="" data-suffix="%" data-duration="1.5" data-separator=""><div class="kb-count-up-process kb-count-up-number"></div><p class="kb-count-up-title">Success</p></div>
<!-- /wp:kadence/countup --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:kadence/icon {"icons":[{"icon":"fe_users","link":"","target":"_self","size":50,"width":2,"title":"","color":"#e74c3c","background":"transparent","border":"#444444","borderRadius":0,"borderWidth":2,"padding":20,"style":"default","marginTop":0,"marginRight":0,"marginBottom":0,"marginLeft":0,"hColor":"","hBackground":"","hBorder":"","linkTitle":""}],"uniqueID":"_773b2a-b0"} -->
<div class="wp-block-kadence-icon kt-svg-icons kt-svg-icons_773b2a-b0 alignnone" style="text-align:center"><div class="kt-svg-style-default kt-svg-icon-wrap kt-svg-item-0"><div style="display:inline-flex;justify-content:center;align-items:center;color:#e74c3c" class="kt-svg-icon kt-svg-icon-fe_users"><svg style="display:inline-block;vertical-align:middle" viewbox="0 0 24 24" height="50" width="50" fill="none" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg></div></div></div>
<!-- /wp:kadence/icon -->

<!-- wp:kadence/countup {"uniqueID":"_1dfaaa-d0","title":"Business Awards Won","titleFont":[{"level":2,"htmlTag":"p","size":["","",""],"sizeType":"px","lineHeight":["","",""],"lineType":"px","letterSpacing":"","textTransform":"","family":"","google":false,"style":"","weight":"","variant":"","subset":"","loadGoogle":true}],"titleAlign":["center","",""],"numberFont":[{"size":["50","",""],"sizeType":"px","lineHeight":["","",""],"lineType":"px","letterSpacing":"","textTransform":"","family":"","google":false,"style":"","weight":"","variant":"","subset":"","loadGoogle":true}],"numberAlign":["center","",""],"end":26,"duration":1.5} -->
<div class="wp-block-kadence-countup kb-count-up-_1dfaaa-d0 kb-count-up" data-start="0" data-end="26" data-prefix="" data-suffix="" data-duration="1.5" data-separator=""><div class="kb-count-up-process kb-count-up-number"></div><p class="kb-count-up-title">Business Awards Won</p></div>
<!-- /wp:kadence/countup --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:heading {"textAlign":"center","level":5} -->
<h5 class="has-text-align-center">Our Team</h5>
<!-- /wp:heading -->

<!-- wp:separator {"color":"primary"} -->
<hr class="wp-block-separator has-text-color has-background has-primary-background-color has-primary-color"/>
<!-- /wp:separator -->

<!-- wp:query {"queryId":88,"query":{"perPage":3,"pages":0,"offset":0,"postType":"team","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":3}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-featured-image {"isLink":true,"align":"wide"} /-->

<!-- wp:post-title {"level":6,"isLink":true,"className":"m-0"} /-->

<!-- wp:post-excerpt {"className":"mt-0"} /-->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->