<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"0px","top":"0px","right":"0px","left":"0px"}}},"className":"mt-3","layout":{"inherit":false,"contentSize":"1320px"}} -->
<main class="wp-block-group mt-3" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:group {"className":"container"} -->
<div class="wp-block-group container"><!-- wp:group {"className":"row"} -->
<div class="wp-block-group row"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"15px","bottom":"0px","left":"15px"}}},"className":"col-12 col-md-8"} -->
<div class="wp-block-group col-12 col-md-8" style="padding-top:0px;padding-right:15px;padding-bottom:0px;padding-left:15px"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:post-title {"textAlign":"left","level":1,"style":{"spacing":{"margin":{"top":"0rem","bottom":"0rem"}}}} /-->

<!-- wp:post-content {"align":"full","className":"mt-5","layout":{"inherit":false,"contentSize":"1320px"}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"color":{"background":"#f8f9fa"},"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"}}},"className":"col-12 col-md-4"} -->
<div class="wp-block-group col-12 col-md-4 has-background" style="background-color:#f8f9fa;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:heading -->
<h2>See More...</h2>
<!-- /wp:heading -->

<!-- wp:kadence/posts {"uniqueID":"_eb0ae6-b0","columns":1,"postType":"services","categories":[],"alignImage":"above","meta":false,"excerpt":false,"excerptLength":1,"readmore":false,"titleFont":[{"level":5,"size":["","",""],"sizeType":"px","lineHeight":["","",""],"lineType":"px","letterSpacing":["","",""],"letterType":"px","textTransform":""}],"showUnique":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->